<?xml version = "1.0"?>
<settings>
    <volume>0.1</volume>
    <loop>true</loop>
    <music>
	<!-- Non Levels -->
        <song
            name="pray.mp3"
            scenes="splash"
            boss="false"
            volume="0.8"
        />
        <song
            name="pray.mp3"
            scenes="intro"
            boss="false"
            volume="0.8"
        />
        <song
            name="Kaede.mp3"
            scenes="outro"
            boss="false"
            volume="0.8"
        />
        <song
            name="Slumber.mp3"
            scenes="title"
            boss="false"
            volume="0.8"
        />
        <song
            name="Paradigm.mp3"
            scenes="title"
            boss="false"
            volume="0.8"
        />
        <song
            name="Fanfare.mp3"
            scenes="title"
            boss="false"
            volume="0.8"
        />
        <song
            name="Dawn.mp3"
            scenes="lobby"
            boss="false"
            volume="0.8"
        />
        <song
            name="Paradigm.mp3"
            scenes="logbook"
            boss="false"
            volume="0.8"
        />
        <song
            name="Fanfare.mp3"
            scenes="logbook"
            boss="false"
            volume="0.8"
        />
        <song
            name="Yoino Myojo.mp3"
            scenes="eclipseworld"
            boss="false"
            volume="0.8"
        />
        <song
            name="Shinkai.mp3"
            scenes="infinitetower"
            boss="false"
            volume="0.8"
        />
        <song
            name="Shinkai.mp3"
            scenes="crystalworld"
            boss="false"
            volume="0.8"
        />
      <song
          name="pray.mp3"
          scenes="loadingbasic"
          boss="false"
          volume="0"
      />
        <song
            name="Aisai.mp3"
            scenes="bazaar"
            boss="false"
            volume="0.8"
        />
        <!-- Stages -->
        <song
            name="Kotonoha.mp3"
            scenes="golemplains, blackbeach, snowyforest"
            boss="false"
            volume="0.8"
        />
        <song
            name="Yamiyo.mp3"
            scenes="foggyswamp"
            boss="false"
            volume="0.8"
        />
        <song
            name="Fuyukan.mp3"
            scenes="goolake"
            boss="false"
            volume="0.8"
        />
        <song
            name="Yuseiboushi.mp3"
            scenes="ancientloft"
            boss="false"
            volume="0.8"
        />
        <song
            name="Hakugin.mp3"
            scenes="frozenwall"
            boss="false"
            volume="0.8"
        />
        <song
            name="Ougon No Hibi.mp3"
            scenes="wispgraveyard"
            boss="false"
            volume="0.8"
        />
        <song
            name="Insomnia.mp3"
            scenes="sulfurpools"
            boss="false"
            volume="0.8"
        />
        <song
            name="Bokuramadaunderground.mp3"
            scenes="dampcavesimple"
            boss="false"
            volume="0.8"
        />
        <song
            name="Mellow.mp3"
            scenes="shipgraveyard"
            boss="false"
            volume="0.8"
        />
        <song
            name="Yadorigi.mp3"
            scenes="rootjungle"
            boss="false"
            volume="0.8"
        />
        <song
            name="How to Eat Life.mp3"
            scenes="skymeadow"
            boss="false"
            volume="0.8"
        />
        <song
            name="Outsider.mp3"
            scenes="moon"
            boss="false"
            volume="0.8"
        />
        <song
            name="Kaishingeki.mp3"
            scenes="artifactworld"
            boss="false"
            volume="0.8"
        />
        <song
            name="Sister.mp3"
            scenes="arena"
            boss="false"
            volume="0.8"
        />
        <song
            name="Sister.mp3"
            scenes="voidstage"
            boss="false"
            volume="0.8"
        />
        <song
            name="pray.mp3"
            scenes="mysteryspace"
            boss="false"
            volume="0"
        />
        <song
            name="Bouto.mp3"
            scenes="limbo"
            boss="false"
            volume="0"
        />
        <song
            name="Boukenroku.mp3"
            scenes="goldshores"
            boss="false"
            volume="0.8"
        />
        <!-- Bosses -->
        <song
            name="raison d'etre.mp3"
            scenes="blackbeach, golemplains, snowyforest"
            boss="true"
            volume="0.8"
        />
        <song
            name="Ambivalent.mp3"
            scenes="foggyswamp, goolake, ancientloft"
            boss="true"
            volume="0.8"
        />
        <song
            name="Baumkuchen End.mp3"
            scenes="frozenwall, wispgraveyard, sulfurpools"
            boss="true"
            volume="0.8"
        />
        <song
            name="Fight Song.mp3"
            scenes="dampcavesimple, shipgraveyard, rootjungle"
            boss="true"
            volume="0.8"
        />
        <song
            name="Tokyo Ghetto.mp3"
            scenes="skymeadow"
            boss="true"
            volume="0.8"
        />
        <song
            name="Avant.mp3"
            scenes="moon"
            boss="true"
            volume="0.8"
        />
        <song
            name="Boukenroku.mp3"
            scenes="goldshores"
            boss="true"
            volume="0.8"
        />
        <song
            name="Bouto.mp3"
            scenes="limbo"
            boss="true"
            volume="0.8"
        />
        <song
            name="Kaikai Kitan.mp3"
            scenes="voidraid"
            boss="false"
            volume="0.8"
        />
	<!-- Simulacrum -->
        <song
            name="raison d'etre.mp3"
            scenes="itgolemplains"
            boss="false"
            volume="0.8"
        />       
	   <song
            name="Ambivalent.mp3"
            scenes="itgoolake"
            boss="false"
            volume="0.8"
        />
        <song
            name="Ambivalent.mp3"
            scenes="itancientloft"
            boss="false"
            volume="0.8"
        />
        <song
            name="Baumkuchen End.mp3"
            scenes="itfrozenwall"
            boss="false"
            volume="0.8"
        />
        <song
            name="Fight Song.mp3"
            scenes="itdampcave"
            boss="false"
            volume="0.8"
        />
        <song
            name="Tokyo Ghetto.mp3"
            scenes="itskymeadow"
            boss="false"
            volume="0.8"
        />
        <song
            name="Avant.mp3"
            scenes="itmoon"
            boss="false"
            volume="0.8"
        />
    </music>
</settings>
